.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.tracks-container {
  max-width:900px;
  width:100%;
}

.btn {
  margin: 5px 5px;
  width: 45%;
  overflow: hidden;
}
